In [6]:
from pathlib import Path

import pandas as pd
import numpy as np

from gtfs_tools.gtfs import GtfsDataset
from gtfs_tools.utils.gtfs import get_route_types_table

ImportError: cannot import name 'get_route_types_table' from 'gtfs_tools.utils.gtfs' (D:\projects\gtfs-tools\src\gtfs_tools\utils\gtfs.py)

In [2]:
pth = r'D:\projects\gtfs-tools\data\raw\gtfs_msp_cbsa\mdb_source_id=784'

In [4]:
gtfs = GtfsDataset(pth)

gtfs

GtfsDataset: D:\projects\gtfs-tools\data\raw\gtfs_msp_cbsa\mdb_source_id=784

In [5]:
gtfs.stops.modalities.info()
gtfs.stops.modalities

<class 'pandas.core.frame.DataFrame'>
Index: 1186982 entries, de:06413:8041:2:2 to 000012219773
Data columns (total 1 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   route_type  1186937 non-null  object
dtypes: object(1)
memory usage: 18.1+ MB

                  route_type
stop_id
de:06413:8041:2:2          3
de:06413:8041:2:2          3
de:06413:8041:2:2          3
de:06413:8041:2:2          3
de:06413:8041:1:1          3
...                      ...
000012182775             106
000012190692             106
000012190693             106
000012219772             106
000012219773             106

[1186982 rows x 1 columns]

In [ ]:
lookup_df = get_route_types_table()

lookup_df.head(20)