In [14]:
from pathlib import Path

from gtfs_tools.gtfs import GtfsDataset

In [15]:
pth = r'D:\scratch\gtfs-tools\data\raw\gtfs_olympia\mdb_source_id=11'

In [16]:
gtfs = GtfsDataset(pth)

gtfs

GtfsDataset: D:\scratch\gtfs-tools\data\raw\gtfs_olympia\mdb_source_id=11

In [17]:
gtfs.stops.sedf_with_calendar_agency.iloc[0]

stop_id                                                          AAM
stop_name                                                        AAM
stop_url                          http://www.amtrak.com/stations/aam
stop_timezone                                       America/New_York
stop_lat                                                    43.39172
stop_lon                                                  -84.644832
parent_station                                                   NaN
location_type                                                      0
SHAPE              {'x': -84.644832, 'y': 43.39172, 'spatialRefer...
monday                                                             1
tuesday                                                            1
wednesday                                                          1
thursday                                                           1
friday                                                             1
saturday                                                           1
sunday                                                             1
agency_id                                                         23
agency_name                                            Indian Trails
agency_url         https://www.amtrak.com/thruway-connecting-serv...
agency_timezone                                     America/New_York
agency_lang                                                       en
Name: 0, dtype: object

In [18]:
gtfs.trips.sedf[~gtfs.trips.sedf['SHAPE'].isnull()]

,route_id,service_id,trip_id,trip_short_name,direction_id,shape_id,trip_headsign,SHAPE
0,36930,104140714337,39371,1,0,269,Los Angeles,"{""paths"": [[[-90.07829099999998, 29.9460850000..."
1,36930,107440704337,39380,2,1,271,New Orleans,"{""paths"": [[[-118.23677799999996, 34.056177000..."
2,36930,204133373357,39367,1,0,269,Los Angeles,"{""paths"": [[[-90.07829099999998, 29.9460850000..."
4,36930,104133644066,39369,1,0,269,Los Angeles,"{""paths"": [[[-90.07829099999998, 29.9460850000..."
5,36930,100140694069,39370,1,0,269,Los Angeles,"{""paths"": [[[-90.07829099999998, 29.9460850000..."
...,...,...,...,...,...,...,...,...
3030,90,106533503351,36382,57,1,190,Washington,"{""paths"": [[[-73.08639129999995, 44.8114391600..."
3031,90,109733574007,36383,57,1,190,Washington,"{""paths"": [[[-73.08639129999995, 44.8114391600..."
3032,90,106540134161,36384,57,1,190,Washington,"{""paths"": [[[-73.08639129999995, 44.8114391600..."
3033,90,103240154015,36385,57,1,190,Washington,"{""paths"": [[[-73.08639129999995, 44.8114391600..."
3034,90,103240504050,36386,57,1,190,Washington,"{""paths"": [[[-73.08639129999995, 44.8114391600..."