In [1]:
from pathlib import Path

import pandas as pd
import numpy as np

from gtfs_tools.gtfs import GtfsDataset
from gtfs_tools.utils.gtfs import get_route_types_table

In [2]:
pth = r'D:\projects\gtfs-tools\data\raw\gtfs_olympia\mdb_source_id=268'

In [3]:
gtfs = GtfsDataset(pth)

gtfs

ERROR:root:Cannot locate any required files in the GTFS dataset mdb_source_id=268.

GtfsDataset: D:\projects\gtfs-tools\data\raw\gtfs_olympia\mdb_source_id=268

In [4]:
gtfs.validate()

ERROR:root:Cannot locate any required files in the GTFS dataset mdb_source_id=268.

False

In [5]:
gtfs.trips.data

,route_id,trip_id,service_id,trip_short_name,trip_headsign,direction_id,block_id,shape_id,wheelchair_accessible,drt_advance_book_min,bikes_allowed,peak_offpeak,boarding_type
0,SNDR_TL,1500-Spring2023,WD_SNDR_20230320_Weekday,1500,King Street Station,1,NaN,SNDR_TL_NBLW_shp,1,0.0,1,0,0
1,SNDR_TL,1500R,REDUCED_WD_SNDR,1500,King Street Station,1,NaN,SNDR_TL_NBLW_shp,1,0.0,1,0,0
2,SNDR_TL,1501-Spring2023,WD_SNDR_20230320_Weekday,1501,Tacoma Dome Station,0,NaN,SNDR_TL_SB_shp,1,0.0,1,0,0
3,SNDR_TL,1502-Spring2023,WD_SNDR_20230320_Weekday,1502,King Street Station,1,NaN,SNDR_TL_NBLW_shp,1,0.0,1,0,0
4,SNDR_TL,1503-Spring2023,WD_SNDR_20230320_Weekday,1503,Tacoma Dome Station,0,NaN,SNDR_TL_SB_shp,1,0.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3490,TLINE,TLINE_2023_HTLE12_Weekday_95,TLINE_2023_HTLE12_Weekday,NaN,Tacoma Dome,1,TLINE_Trn-3,T25:T01,1,0.0,1,0,0
3491,TLINE,TLINE_2023_HTLE12_Weekday_96,TLINE_2023_HTLE12_Weekday,NaN,Tacoma Dome,1,TLINE_Trn-4,T25:T01,1,0.0,1,0,0
3492,TLINE,TLINE_2023_HTLE12_Weekday_97,TLINE_2023_HTLE12_Weekday,NaN,Tacoma Dome,1,TLINE_Trn-1,T25:T01,1,0.0,1,0,0
3493,TLINE,TLINE_2023_HTLE12_Weekday_98,TLINE_2023_HTLE12_Weekday,NaN,Tacoma Dome,1,TLINE_Trn-3,T25:T01,1,0.0,1,0,0
3494,TLINE,TLINE_2023_HTLE12_Weekday_99,TLINE_2023_HTLE12_Weekday,NaN,Tacoma Dome,1,TLINE_Trn-4,T25:T01,1,0.0,1,0,0