In [1]:
from pathlib import Path

from gtfs_tools.gtfs import GtfsDataset

In [2]:
pth = r'D:\scratch\gtfs-tools\data\raw\gtfs_olympia\mdb_source_id=11'

In [3]:
gtfs = GtfsDataset(pth)

gtfs

In [4]:
gtfs.stop_times.data

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,1617,0 days 18:40:00,0 days 18:40:00,STL,1,0,0
1,1617,0 days 19:22:00,0 days 19:24:00,ALN,2,0,0
2,1617,0 days 20:21:00,0 days 20:24:00,SPI,3,0,0
3,1617,0 days 20:46:00,0 days 20:46:00,LCN,4,0,0
4,1617,0 days 21:14:00,0 days 21:17:00,BNL,5,0,0
...,...,...,...,...,...,...,...
36542,40308,1 days 09:23:00,1 days 09:27:00,WIL,29,1,0
36543,40308,1 days 09:48:00,1 days 09:53:00,PHL,30,1,0
36544,40308,1 days 10:21:00,1 days 10:23:00,TRE,31,1,0
36545,40308,1 days 10:58:00,1 days 11:00:00,NWK,32,1,0
36546,40308,1 days 11:18:00,1 days 11:18:00,NYP,33,0,0

In [9]:
gtfs.

AttributeError: 'GtfsDataset' object has no attribute 'get'

In [ ]:
gtfs.